
@charset "utf-8";

em {color:red;}

body{margin:0 auto;padding:0;font-size:12px;line-height:14px;font-family:Verdana;background-color:#fff;font-family:Verdana, Arial, "宋体";color:#666;}
.body{margin:0 auto;width:988px;min-height:500px;z-index:1000;width:1000px;}

p,ul,h1,h2,h3,form{margin:0;padding:0;}
img{border:0;}

.faq_box{margin:30px 10px;}
.faq_box .help_left{float:left;width:240px;border-right:1px #D7D7D7 solid}
.faq_body{float:left;padding:5px 0 0 40px;width:680px;overflow:hidden;border-left:1px #D7D7D7 solid;margin-left:-1px;}
.faq_class{font-size:14px;line-height:28px;font-weight:normal;padding:0 20px}
.faq_class li{list-style:none}
.faq_class .faq_class_number{color:#666;font-size:12px;padding-left:3px;font-weight:normal}
.help_nav{margin:20px 0;padding:20px;}
.help_nav .help_nav_title{font-size:30px;font-family:"微软雅黑","宋体";height:30px;margin-bottom:20px;line-height:30px}
.help_nav ol{font-size:14px;line-height:30px;color:#666;font-family:Verdana, "宋体";padding-left:30px;margin:0}
.help_nav ol li a{color:#4C76A0;text-decoration:none;}
.help_nav ol li h2 a:hover{text-decoration:none;}
.help_nav ol li a:hover{text-decoration:underline;}
.help_nav ol li ul {font-size:12px;padding-left:30px;}
.help_content{border-bottom:1px solid #D5D6D7;padding:0 3px;padding-bottom:40px;margin-bottom:20px}
.help_question{font-size:24px;font-family:"微软雅黑","宋体";}
.help_answer{margin-top:22px;font-size:14px;line-height:24px;color:#333;}
.help_answer p{margin-bottom:15px;}
.help_answer ul{margin-bottom:15px;margin-left:35px;}
.help_answer ul li{margin-top:4px;}
.help_answer img{padding:1px;border:1px solid #ccc;}
.help_answer blockquote{margin-left:5px;color:#666666;padding:10px 0 2px 50px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:url(/images/1.3/quota_left.gif) 0 5px no-repeat;}
.help_more{margin-top:30px;}
.help_signup{margin:15px 0;text-align:center;background-color:#F3FCDD;border-top:1px solid #DBE9B5;border-bottom:1px solid #DBE9B5;padding:27px;font-size:16px;font-weight:bold;color:#444;}
.help_feedback{color:#333;margin-bottom:30px;line-height:24px}
.help_feedback .help_feedback_q{float:left;width:300px;clear:left}
.help_feedback_thanks{color:#199A3E;font-weight:bold}
.help_categories{height:38px;line-height:40px;border-top:1px #ccc solid;border-bottom:1px #ccc solid;color:#333;margin-bottom:30px}
.help_categories a{margin-left:5px;}
.survey_invite{text-align:center;padding:10px;margin-top:20px;background:#F3F7E5;border:2px #2B8C00 solid;}

.faqContent {
	margin-top:20px;
}
.orangedk {
    color: #E47911;
}
.orangedk a {
    color: #4C76A0;
}
.bold {
    font-weight: bold;
}
.txt110 {
    font-size: 110%;
}
dl.faq {
    margin: 0;
}
dl.faq p {
	margin-top:5px;
	line-height:20px;
    text-indent: 2em;
}
dl.faq p a {
	color: #4C76A0;
}
dl.faq p b{
	font-weight: bold;
    font-size:14px;
    padding:10px 3px;
   line-height:50px;
    margin-bottom: 0.3em;
}
dl.faq div{
	text-indent: 2em;
	font-weight:bold;
    font-size:14px;
    padding:20px 0px 0px 0px;
   	line-height:30px;
    margin-bottom: 0.3em;
}
dl.faq dd {
    font-weight: bold;
    font-size:14px;
    padding:3px;
    margin-bottom: 0.3em;
}
dl.faq dt {
	line-height:20px;
    text-indent: 2em;
}
.hr {
	padding-top:20px;
	border-top:1px dashed #CCC;
	margin-top:30px;
	margin-top:20px;
}