@CHARSET "utf-8";
body{font-size:12px;}
a{color:#07c;text-decoration:none;border:0;background-color:transparent;}
body, div, q, iframe, form, h5{margin:0;padding:0;}
img, fieldset{border:none 0;}
body, td, textarea{word-break:break-all;word-wrap:break-word;line-height:1.6;}
body, input, textarea, select, button {margin:0;font-size:14px;font-family:Tahoma, SimSun, sans-serif;}
div, p, table, th, td{font-size:1em;font-family:inherit;line-height:inherit;}
h5{font-size:12px;}
ol li,ul li{ margin-bottom:0.5em;}
pre, code{font-family:"Courier New", Courier, monospace;word-wrap:break-word;line-height:1.4;font-size:12px;}
pre{background:#f6f6f6;border:#eee solid 1px;margin:1em 0.5em;padding:0.5em 1em;}
#content{padding-left:50px;padding-right:50px;}
#content h2{font-size:20px;color:#069;padding-top:8px;margin-bottom:8px;}
#content h3{margin:8px 0;font-size:14px;COLOR:#693;}
#content h4{margin:8px 0;font-size:16px;COLOR:#690;}
#content div.item{margin-top:10px;margin-bottom:10px;border:#eee solid 4px;padding:10px;}
hr{clear:both;margin:7px 0;+margin:0;
border:0 none;font-size:1px;line-height:1px;color:#069;background-color:#069;height:1px;}
.infobar{background:#fff9e3;border:1px solid #fadc80;color:#743e04;}

/* buttonStyle */
.buttonStyle{
	padding: 2px 15px;
	width:auto; overflow:visible; *width:1;

	border: solid 1px #999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background: #3399CC;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#3399CC');
	background: -moz-linear-gradient(top,  #FFF,  #3399CC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#3399CC));

	color: #333;
	text-decoration: none;
	font-size:12px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	line-height: 1;
}
.buttonStyle:hover{
	border: solid 1px #333;
}
/* .buttonStyle{width:64px;height:22px;line-height:22px;color:#369;text-align:center;background:url(../../images/buticon.gif) no-repeat left top;border:0;font-size:12px;}
.buttonStyle:hover{background:url(../../images/buticon.gif) no-repeat left -23px;} */